<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chetan.mybatis.integration.CustomerMapper">

<!--    <resultMap type="Fund" id="FundMap">-->
<!--        <id property="id"				column="fundno" />-->
<!--        <result property="fundName"			column="fundname" />-->
<!--        <result property="price"		column="price" />-->
<!--    </resultMap>-->

    <resultMap type="Customer" id="CustomerMap">
        <id property="id"				column="custno" />
        <result property="custName"			column="custname" />
        <result property="age"			column="age" />
    </resultMap>

<!--    <resultMap type="Customerholding" id="CustomerHoldings">-->
<!--        <id property="id"				column="custholdingno" />-->
<!--        <result property="fundQuantity"			column="fundquantity" />-->
<!--        <collection property="fundNo"			resultMap="FundMap" />-->
<!--        <collection property="customerNo"			resultMap="CustomerMap" />-->
<!--    </resultMap>-->

    <select id="getAllCustomers" resultType="Customer">
		SELECT custno as id,
               custname as custName,
		       age as age
		FROM   customer
		ORDER BY id
	</select>

</mapper>
